
body{
    margin: 20%;
    
}

.first{
	padding-bottom: 50px;
	text-align: center;
	background-color: rgb(119, 108, 6);
}
.heading{
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: rgb(32, 161, 236);
}
.image{
	border-image-width: 20px;
}
.content{
	word-wrap: break-word;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	color: black;
}